@use 'variables' as v; // sass --watch scss/sheeesh.scss css/sheeesh.css

body {background-color: lightblue; margin:0; padding:0;}
header{
    background-color: v.$colorp; height:56px; padding: 0 16px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
    #himg{
        height:100%; width:100px;
        object-fit: scale-down;
        background-color: aqua;
        //background-image: url(https://www.namebadgesinternational.us/library/design-advice/pp35-wide-logo.jpg);
    }
    #search{
        margin: auto;
        height: auto; width: 30vw;
    }

}
.bbox{
    background-color: darkseagreen;
    height: 90vh; width: 75%;
    display: flex; margin: auto; padding: 0px;

    #content{
        background-color: violet;  border: 1px solid black;
        height: 250px; width: 250px;
        display: flex; padding: 0 16px; margin: auto auto;
        
        
    }
     

}