#container{
    display: flex;
    height: 700px;
    width: 700px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

#box {
    height: 300px;
    width: 300px;
    border: solid;

}

.green{background-color: green;}
    .red{background-color: red;}
    .yellow{background-color: yellow;}
    .blue{background-color: blue;}