// sass --watch scss/main.scss css/main.css

body {
    background-image: url(../assets/negative-space-black-forest-dawn.jpg);
    background-color: aqua;
    background-size: cover;
    //margin:0;
    flex-direction: column;

    header{
        background-color: rgba(255,255,255,0.2);
        height: 56px;
        color: white;
        position: fixed;
        display: flex;
        justify-content: end;
        text-align: right;
        
        

    }

    #container{
        background-color: white;
        height: 400px;
        width: auto;
        display: flex;
        align-items: center;
       flex-direction: column;

    }

    .footer {
        background-color: black;
        width: auto;
        height: 400px;
        position: fixed;
        bottom:0;
    }
   
}




